<h1 id="uiuc-course-api">uiuc-course-api</h1>
<p>REST API with course description searching. This api is designed specifically for the <a href="https://github.com/timot3/uiuc-classes-bot">UIUC Classes Bot on Discord</a>, but is live for anyone to use.</p>
<p>Base URL: <a href="https://uiuc-classbot.herokuapp.com/">https://uiuc-classbot.herokuapp.com/</a></p>
<h1 id="endpoints">Endpoints</h1>
<h2 id="classes">Classes</h2>
<h3 id="get-api-classes-subject-val-number-val">GET /api/classes/?subject=val&amp;?number=val</h3>
<p>Returns the classes matching the provided <code>subject</code> and <code>number</code> parameters.
Both of these parameters are optional; for example, a GET to <code>/api/classes/?subject=CS</code> will return all stored CS courses.</p>
<p>Example response (<code>?subject=CS&amp;number=124</code>):</p>
<pre><code>[
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
        <span class="hljs-attr">"degree_attributes"</span>: <span class="hljs-string">"Quantitative Reasoning I course."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Basic concepts in computing and fundamental techniques for solving computational problems. Intended as a first course for computer science majors and others with a deep interest in computing. Credit is not given for both CS 124 and CS 125. Prerequisite: Three years of high school mathematics or MATH 112."</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"None"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"CS 124"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Introduction to Computer Science I"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">124</span>,
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"CS"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
    }
]
</code></pre><h3 id="get-api-classes-all-">GET /api/classes/all/</h3>
<p>Returns the all stored courses.</p>
<p>Example response:</p>
<pre><code>[
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
        <span class="hljs-attr">"degree_attributes"</span>: <span class="hljs-string">"Social &amp; Beh Sci - Soc Sci, and Cultural Studies - US Minority course."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics."</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.59"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"AAS 100"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Intro Asian American Studies"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">100</span>,
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"AAS"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
    },
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
        <span class="hljs-attr">"degree_attributes"</span>: <span class="hljs-string">"Cultural Studies - US Minority course."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Interdisciplinary introduction to the basic concepts and approaches in Arab American Studies. Addresses the issues of history, race, social organization, politics, literature, and art related to Arab American experiences."</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.76"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"AAS 105"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Introduction to Arab American Studies"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">105</span>,
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"AAS"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
    },
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
        <span class="hljs-attr">"degree_attributes"</span>: <span class="hljs-string">"Social &amp; Beh Sci - Soc Sci, and Cultural Studies - US Minority course."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Same as AFRO 201, LLS 201, and PS 201. See PS 201."</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"None"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"AAS 201"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"US Racial &amp; Ethnic Politics"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">201</span>,
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"AAS"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
    },
    ...
]
</code></pre><h2 id="search">Search</h2>
<h3 id="get-api-classes-search-query-val">GET /api/classes/search/?query=val</h3>
<p>Uses the <a href="https://whoosh.readthedocs.io/en/latest/">Whoosh</a> library to perform a search on the <code>name</code>, <code>label</code>, 
and <code>description</code> fields of the database based on the provided query. Returns the relevant found text markdownified.
Also returns the original entry under the <code>raw</code> field.
Example response (<code>?query=digital+signal+processing</code>):</p>
<pre><code>[
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"and discrete-time **signal** **processing** with an emphasis...analog-to-**digital** and **digital**-to-analog conversion...and applications of **digital** **signal** **processing**. Prerequisite"</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.02"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"ECE 310"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"**Digital** **Signal** **Processing**"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">310</span>,
        <span class="hljs-attr">"raw"</span>: {
            <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"3 hours."</span>,
            <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Introduction to discrete-time systems and discrete-time signal processing with an emphasis on causal systems; discrete-time linear systems, difference equations, z-transforms, discrete convolution, stability, discrete-time Fourier transforms, analog-to-digital and digital-to-analog conversion, digital filter design, discrete Fourier transforms, fast Fourier transforms, spectral analysis, and applications of digital signal processing. Prerequisite: ECE 210."</span>,
            <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.02"</span>,
            <span class="hljs-attr">"label"</span>: <span class="hljs-string">"ECE 310"</span>,
            <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Digital Signal Processing"</span>,
            <span class="hljs-attr">"number"</span>: <span class="hljs-number">310</span>,
            <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"ECE"</span>,
            <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
        },
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"ECE"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Spring 2022"</span>
    },
    {
        <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"4 hours."</span>,
        <span class="hljs-attr">"description"</span>: <span class="hljs-string">"concept review of **digital** **signals** and systems; computer...aided **digital** filter design, quantization...to adaptive **signal** **processing**. Prerequisite"</span>,
        <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.66"</span>,
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"ECE 551"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"**Digital** **Signal** **Processing** II"</span>,
        <span class="hljs-attr">"number"</span>: <span class="hljs-number">551</span>,
        <span class="hljs-attr">"raw"</span>: {
            <span class="hljs-attr">"credit_hours"</span>: <span class="hljs-string">"4 hours."</span>,
            <span class="hljs-attr">"description"</span>: <span class="hljs-string">"Basic concept review of digital signals and systems; computer-aided digital filter design, quantization effects, decimation and interpolation, and fast algorithms for convolution and the DFT; introduction to adaptive signal processing. Prerequisite: ECE 310 and ECE 313."</span>,
            <span class="hljs-attr">"gpa"</span>: <span class="hljs-string">"3.66"</span>,
            <span class="hljs-attr">"label"</span>: <span class="hljs-string">"ECE 551"</span>,
            <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Digital Signal Processing II"</span>,
            <span class="hljs-attr">"number"</span>: <span class="hljs-number">551</span>,
            <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"ECE"</span>,
            <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Fall 2021"</span>
        },
        <span class="hljs-attr">"subject"</span>: <span class="hljs-string">"ECE"</span>,
        <span class="hljs-attr">"yearterm"</span>: <span class="hljs-string">"Fall 2021"</span>
    },
    ...
]
</code></pre>